
<nav>
     <ul>
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/posts']">Posts</a></li>
        <li><a [routerLink]="['/login']">Login</a></li>
      </ul>
</nav>

      <!-- <div class="container-fluid h-100">
    <div class="row h-100">
        <aside class="col-12 col-md-2 p-0 bg-dark fixed-top">
            <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
                <div class="collapse navbar-collapse align-items-start">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link pl-0" [routerLink]="['/']"><i class="fa fa-heart fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" [routerLink]="['/posts']"><i class="fa fa-star fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" [routerLink]="['/login']"><i class="fa fa-list fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
        
    </div>
</div> -->