
  .login{
    margin: 50px 250px 50px 250px;
    height: 300px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgba(68, 68, 68, 0.6);
  }
  .form{
    margin-left: 400px;
    margin-right: 400px;
  }