<div class="login">
  <h2>Login</h2>
  <form [formGroup]="loginForm">
    <div class="form">
      <div class="form-group">
        <label for="empId">User Name</label>
        <input type="text" formControlName="username" placeholder="username" class="form-control">
      </div>

      <div class="form-group">
        <label for="empId">Password:</label>
        <input type="text" formControlName="password" placeholder="password" class="form-control">
      </div>
      <button class="btn btn-success" (click)="onSubmit(loginForm.value)">Submit</button> &nbsp;
      <button class="btn btn-primary" (click)="back()">Back</button>
    </div>
  </form>
</div>